<div class="row d-flex justify-content-center">
    <mat-card class="m-3 col-6">
        <mat-card-title-group>
            <mat-card-title>Hola</mat-card-title>
            <mat-card-subtitle><h2>Yo soy Angel Perez</h2></mat-card-subtitle>
        </mat-card-title-group>
        <mat-card-content>
            <div class="row">
                <div class="col">
                    <img class="m-3" style="border-radius: 50%; height: 200px; width: 200px" mat-card-xl-image src="https://media-exp1.licdn.com/dms/image/C4D03AQHt3m2BWgIESg/profile-displayphoto-shrink_400_400/0/1661277458700?e=1669852800&v=beta&t=ohYSCNIoZMoUA3IECp_69svGJUlXMw0YqT1YJeYXIFM"  alt="Imagen de Perfil">
                </div>
                <div class="col">
                    <p>Soy Ingeniero en Sistemas de Información, Desarrollador de Software, Especialista en Backend y
                        Analista Universitario de Sistemas.</p>
                    <p>Y este es mi Curriculum Vitae, Hoja de Vida o Portfolio resumido.</p>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
    <br>
</div>
<mat-divider class="m-3"></mat-divider>
<div class="row-5 d-flex justify-content-center center">
    <div>
        <h3><u>Resumen</u></h3>
        <ul class="left">
            <li>Experiencia en Análisis, Diseño y Desarrollo de Sistemas Informáticos</li>
            <li>Experiencia en Análisis Funcional y Análisis de Requerimientos</li>
            <li>Experiencia en Implementación de sistemas</li>
            <li>Experiencia en Desarrollo de Aplicaciones Web</li>
            <li>Experiencia en Desarrollo de Aplicaciones de Escritorio</li>
            <li>Experiencia en Armado de equipos de trabajo</li>
        </ul>
    </div>
</div>
<mat-divider class="m-3"></mat-divider>
<div class="row-5 d-flex justify-content-center center">
    <mat-card class="m-3 col-11">
        <mat-card-content>
            <div>
                <h3><u>Experiencia Profesional en Desarrollo</u></h3>
                <ul class="left timeline">
                    <li class="timeline-item">2022 SOFTWARE DEL SUR S.R.L. Analisis Funcional, Desarrollo, Testing e Implementación de
                        <u><strong>Plataforma Web Clínica. Sistema Gestor de Historial Medico.</strong></u> Mendoza, Argentina</li>
                    <li class="timeline-item">2022 SOFTWARE DEL SUR S.R.L. Analisis Funcional, Desarrollo, Testing e Implementación de
                        <u><strong>Plataforma Web Comercial.</strong></u> Mendoza, Argentina</li>
                    <li class="timeline-item">2022 SOFTWARE DEL SUR S.R.L. Analisis Funcional, Desarrollo, Testing e Implementación de
                        <u><strong>Plataforma Web Operativa.</strong></u> Mendoza, Argentina</li>
                    <li class="timeline-item">2022 SOFTWARE DEL SUR S.R.L. Analisis Funcional, Desarrollo, Testing e Implementación de
                        <u><strong>Plataforma Web S.A.C.</strong></u> Mendoza, Argentina</li>
                    <li class="timeline-item">2021 SOFTWARE DEL SUR S.R.L. Desarrollo, Testing e Implementación de <u><strong>Sistema Backend de
                        Servicio de Atención al Cliente, e integración con Sistema Tributario de Global Business</strong></u>.
                        Mendoza, Argentina</li>
                    <li class="timeline-item">2021 GRUPO METACOD SIMPLE ASOCIACIÓN. Analisis de Requisitos, Estudio Ambiental y de Factibilidad, Analisis Funcional,
                        Diseño, Desarrollo, Testing Manual, e Implementación en AWS de <u><strong>Sistema
                            Modelador-Generador de APIs RESTful, con integración a plataforma GitHub y Generación de
                            Configuración DevOps. </strong></u>. Mendoza, Argentina</li>
                    <li class="timeline-item">2020 Freelancer. Diseño y Desarrollo de <u><strong>Sistema de Routeo y Control de Links</strong></u>
                        para Fiera Studio. Remoto, Mendoza, Argentina</li>
                    <li class="timeline-item">2019 Freelancer. Análisis, Diseño y Desarrollo de <u><strong>Sistema de Gestión de Contenidos,
                        Archivos-Metadatos y Planificación Modular</strong></u>, con Implementación en GCP. Mendoza, Argentina</li>
                </ul>
            </div>
        </mat-card-content>
    </mat-card>
    <br>
</div>
<mat-divider class="m-3"></mat-divider>
<div class="row d-flex justify-content-center">
    <mat-expansion-panel class="m-3 col-11" expanded="true">
        <mat-expansion-panel-header>
            <mat-panel-title><h3>Conocimientos Tecnológicos</h3></mat-panel-title>
            <mat-panel-description>Puede hacer click aquí para minimizar.</mat-panel-description>
        </mat-expansion-panel-header>
        <div>
            <div>
                <div class="row" style="width: 100%;">
                    <h4><u>Lenguajes de Programación</u></h4>
                </div>
                <div class="row inline d-flex justify-content-center" style="width: 100%;">
                    <div class="col-5">
                        <h5><u>Tecnologías Backend</u></h5>
                        <ol>
                            <li>
                                Java 8+
                                <mat-progress-bar mode="determinate" value="95"></mat-progress-bar>
                                +3 años de experiencia
                            </li>
                            <br>
                            <li>
                                Spring (Boot/MVC/Security/Data)
                                <mat-progress-bar mode="determinate" value="70"></mat-progress-bar>
                                2 años de experiencia
                            </li>
                            <br>
                            <li>
                                Hibernate
                                <mat-progress-bar mode="determinate" value="90"></mat-progress-bar>
                                +2 años de experiencia
                            </li>
                            <br>
                            <li>
                                NodeJS (JS/TS)
                                <mat-progress-bar mode="determinate" value="70"></mat-progress-bar>
                                +1 año de experiencia
                            </li>
                            <br>
                            <li>
                                C/C++
                                <mat-progress-bar mode="determinate" value="80"></mat-progress-bar>
                                1 año de experiencia
                            </li>
                            <br>
                            <li>
                                ExpressJS
                                <mat-progress-bar mode="determinate" value="90"></mat-progress-bar>
                                +1 año de experiencia
                            </li>
                            <br>
                            <li>
                                Sequelizer
                                <mat-progress-bar mode="determinate" value="70"></mat-progress-bar>
                                1 año de experiencia
                            </li>
                            <br>
                            <li>
                                Python
                                <mat-progress-bar mode="determinate" value="50"></mat-progress-bar>
                                6 meses de experiencia
                            </li>
                            <br>
                        </ol>
                    </div>
                    <div class="col-5">
                        <h5><u>Tecnologías Frontend</u></h5>
                        <ol>
                            <li>
                                Angular 8+
                                <mat-progress-bar mode="determinate" value="90"></mat-progress-bar>
                                1 año de experiencia
                            </li>
                            <br>
                            <li>
                                ReactJS
                                <mat-progress-bar mode="determinate" value="10"></mat-progress-bar>
                                1 mes de experiencia
                            </li>
                            <br>
                            <li>
                                Thymeleaf
                                <mat-progress-bar mode="determinate" value="100"></mat-progress-bar>
                                1 año de experiencia
                            </li>
                            <br>
                            <li>
                                VueJS
                                <mat-progress-bar mode="determinate" value="10"></mat-progress-bar>
                                1 mes de experiencia
                            </li>
                            <br>
                            <li>
                                AlpineJS
                                <mat-progress-bar mode="determinate" value="50"></mat-progress-bar>
                                3 meses de experiencia
                            </li>
                            <br>
                            <li>
                                Flutter/Dart
                                <mat-progress-bar mode="determinate" value="20"></mat-progress-bar>
                                3 meses de experiencia
                            </li>
                            <br>
                            <li>
                                <h6>Frameworks CSS</h6>
                                <ul>
                                    <li>
                                        Angular Material
                                        <mat-progress-bar mode="determinate" value="75"></mat-progress-bar>
                                        +1 año de experiencia
                                    </li>
                                    <br>
                                    <li>
                                        Material Lite
                                        <mat-progress-bar mode="determinate" value="100"></mat-progress-bar>
                                        +1 año de experiencia
                                    </li>
                                    <br>
                                    <li>
                                        Bootstrap
                                        <mat-progress-bar mode="determinate" value="90"></mat-progress-bar>
                                        2 años de experiencia
                                    </li>
                                    <br>
                                    <li>
                                        Bulma
                                        <mat-progress-bar mode="determinate" value="50"></mat-progress-bar>
                                        6 meses de experiencia
                                    </li>
                                    <br>
                                </ul>
                            </li>
                            <br>
                            <li>
                                HTML5/CSS3 Vanilla
                                <mat-progress-bar mode="determinate" value="60"></mat-progress-bar>
                                +4 años de experiencia
                            </li>
                            <br>

                            <li>
                                Javascript Vanilla
                                <mat-progress-bar mode="determinate" value="70"></mat-progress-bar>
                                +1 año de experiencia
                            </li>
                            <br>
                        </ol>
                    </div>
                </div>
                <div class="row inline d-flex justify-content-center" style="width: 100%;">
                    <div class="col-5">
                        <h5><u>Bases de Datos SQL</u></h5>
                        <ol>
                            <li>
                                MySQL/MariaDB
                                <mat-progress-bar mode="determinate" value="80"></mat-progress-bar>
                                +3 años de experiencia
                            </li>
                            <br>
                            <li>
                                PostgreSQL
                                <mat-progress-bar mode="determinate" value="80"></mat-progress-bar>
                                2 años de experiencia
                            </li>
                            <br>
                            <li>
                                MS SQL Server
                                <mat-progress-bar mode="determinate" value="70"></mat-progress-bar>
                                1 año de experiencia
                            </li>
                            <br>
                            <li>
                                H2
                                <mat-progress-bar mode="determinate" value="85"></mat-progress-bar>
                                +1 año de experiencia
                            </li>
                            <br>
                        </ol>
                    </div>
                    <div class="col-5">
                        <h5><u>Bases de Datos NoSQL</u></h5>
                        <ol>
                            <li>
                                MongoDB
                                <mat-progress-bar mode="determinate" value="70"></mat-progress-bar>
                                1 año de experiencia
                            </li>
                            <br>
                            <li>
                                DynamoDB
                                <mat-progress-bar mode="determinate" value="30"></mat-progress-bar>
                                3 meses de experiencia
                            </li>
                            <br>
                        </ol>
                    </div>
                </div>
            </div>
            <mat-divider class="m-3"></mat-divider>
            <div class="m-3 row inline d-flex justify-content-center table-responsive" style="width: auto;">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Tecnología de Análisis de Datos</th>
                        <th>Tecnología de Documentación</th>
                        <th>Tecnología de Testing e Integración Continua</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <ul>
                                <li>R/ Python</li>
                                <li>Prolog</li>
                                <li>Scikit-learn</li>
                            </ul>
                        </td>
                        <td>
                            <ul>
                                <li>Swagger</li>
                                <li>Enterprise Architect</li>
                                <li>MS Office</li>
                            </ul>
                        </td>
                        <td>
                            <ul>
                                <li>Selenium</li>
                                <li>Jenkins</li>
                                <li>Github Actions</li>
                                <li>Docker Hub Integration</li>
                            </ul>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <mat-divider class="m-3"></mat-divider>
            <div class="m-3 row inline d-flex justify-content-center table-responsive" style="width: auto;">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Gestión de configuración de software</th>
                        <th>Tecnologías de Despliegue y Gestión de Infraestructura</th>
                        <th>Metodologías de Desarrollo</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <ul>
                                <li>Git 2</li>
                                <li>GitHub/Bitbucket</li>
                            </ul>
                        </td>
                        <td>
                            <ul>
                                <li>Docker</li>
                                <li>Kubernetes</li>
                                <li>Experiencia en Manejo de Plataformas AWS y GCP</li>
                                <li>Manejo de Windows/Powershell</li>
                                <li>Manejo de Linux</li>
                            </ul>
                        </td>
                        <td>
                            <ul>
                                <li>Metodologías Agiles Scrum / XP / Kanbam</li>
                                <li>Metodologías Tradicionales</li>
                            </ul>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </mat-expansion-panel>
    <br>
</div>
<mat-divider class="m-3"></mat-divider>
<div class="row d-flex justify-content-center">
    <mat-card class="m-3 col-11">
        <mat-card-title-group>
            <mat-card-title><h3>Formación Académica y Certificaciones</h3></mat-card-title>
        </mat-card-title-group>
        <mat-card-content>
            <div>
                <h4><u>Formación Académica</u></h4>
                <div>
                    <h5><u>Estudios Universitarios de Grado</u></h5>
                    <ul>
                        <li>2022 - Graduado en Ingeniería en Sistemas de Información.
                            <i>Facultad Regional Mendoza; Universidad Tecnológica Nacional.</i> </li>
                        <li>2022 - Graduado en Analista Universitario de Sistemas.
                            <i>Facultad Regional Mendoza; Universidad Tecnológica Nacional.</i> </li>
                        <li>2014-2019 - Estudiante de 3° año de Ingeniería Electronica. <i>Facultad Regional Mendoza;
                            Universidad Tecnológica Nacional.</i> </li>
                    </ul>
                </div>
                <div>
                    <h5><u>Certificaciones</u></h5>
                    <ul>
                        <li>2021 - Coautor de Metacod System en 9º Congreso Nacional de Ingeniería Informática /
                            Sistemas de Información (CoNaIISI 2021)</li>
                        <li>2020 - Introduction to Front-end Development with ReactJS</li>
                        <li>2020 - Introducción A La Agilidad Para Todos Los Públicos Y Edades</li>
                        <li>2020 - Redes Abiertas, Automatización en Redes, y Redes Definidas por Software</li>
                        <li>2020 - Principios de Blockchain y Bitcoin</li>
                        <li>2016 - Routing Over Low Power and Lossy Networks</li>
                        <li>2016 - Introducción A Internet De Todo</li>
                        <li>2016 - Introducción A La Ciberseguridad</li>
                        <li>2016 - Principios Básicos De Programación En Python Utilizando Django</li>
                    </ul>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
    <br>
</div>
<mat-divider class="m-3"></mat-divider>
<div class="row d-flex justify-content-center">
    <mat-card class="m-3 col-11">
        <mat-card-title-group>
            <mat-card-title><h3>Otros conocimientos</h3></mat-card-title>
        </mat-card-title-group>
        <mat-card-content>
            <div class="d-flex justify-content-center">
                <div>
                    <h4><u>Dominio de Patrones de Diseño</u></h4>
                    <div>
                        <ul>
                            <li>Arquitectura Orientación a Objetos</li>
                            <li>Arquitectura de Microservicios</li>
                            <li>Arquitectura de software REST</li>
                            <li>Arquitectura Cliente-Servidor</li>
                            <li>Arquitectura MVC</li>
                            <li>Experiencia con APIs SOAP</li>
                            <li>Desarrollo Dirigido por el Dominio</li>
                        </ul>
                    </div>
                </div>
                <div>
                    <h4><u>Idiomas</u></h4>
                    <div>
                        <ul>
                            <li>Español <i>Nativo</i></li>
                            <li>Ingles <i>Intermedio. B1</i></li>
                            <li>Aleman <i>Principíante. A1</i></li>
                            <li>Italiano <i>Principiante. A1</i></li>
                        </ul>
                    </div>
                </div>
                <div>
                    <h4><u>Habilidades Blandas</u></h4>
                    <div>
                        <ul>
                            <li>Proactividad</li>
                            <li>Facilidad para Autocapacitación</li>
                            <li>Adaptabilidad al Trabajo en Equipo</li>
                            <li>Buena organización</li>
                            <li>Adaptación a trabajo individual</li>
                            <li>Consistente</li>
                            <li>Metódico</li>
                        </ul>
                    </div>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
    <br>
</div>
<mat-divider class="m-3"></mat-divider>
<div class="row d-flex justify-content-center">
    <mat-card class="m-3 col-11">
        <mat-card-title-group>
            <mat-card-title>Antecedentes Personales</mat-card-title>
        </mat-card-title-group>
        <mat-card-content>
            <div class="row inline">
                <div class="col-5 m-1">
                    <h3><u>Datos personales</u></h3>
                    <div>
                        <br><strong>Nombre Completo:</strong> Angel Santiago, Perez
                        <br><strong>Fecha y Lugar de Nacimiento:</strong> 28 de mayo de 1996; Mendoza, Argentina
                        <br><strong>Lugar de Residencia:</strong> Maipú, Mendoza
                        <br><strong>Genero:</strong> Masculino/Hombre (El)
                        <br><strong>Persona con C.U.D.:</strong><span class="material-icons">accessible</span>
                        <br><strong>Correo Electrónico:</strong>
                        <a href="mailto:pasaperez@yahoo.com.ar">pasaperez@yahoo.com.ar</a>
                        <br><strong>Email Alternativo/Laboral:</strong>
                        <a href="mailto:angel.pasaperez@gmail.com">angel.pasaperez@gmail.com</a>
                        <br><strong>Perfil LinkedIn:</strong> <a href="https://www.linkedin.com/in/pasaperez/">pasaperez</a>
                    </div>
                </div>
                <div class="col-5 m-1">
                    <h3><u>Sobre Mi</u></h3>
                    <div>
                        <p>
                            Soy un apasionado de la tecnología y estoy en constante formación. Deseo continuar en el
                            mundo TI y poder continuar con mi crecimiento profesional. Estoy en búsqueda de
                            oportunidades para formar parte de una organización o equipo, en un buen ambiente de
                            trabajo y de cooperación constante.
                        </p>
                    </div>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
    <br>
</div>
<app-footer></app-footer>